---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$text: #454343;
$dark_text: #1E1D1D;
$bg: #F5F5F5;
$link: #337AB7;
$border: #E7E7EC;

$small-desktop: 1200px;
$tablet: 1024px;

@mixin media($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}

@import "normalize";
@import "typography";
@import "layout";
@import "header";
@import "footer";
@import "syntax-highlighting";
@import "formikation";
