/*
  ====================================
  General formication styles
  Modify with care!
  =====================================
*/
form.formication {
  /* Checks y radios */
  /* input[type=radio] {
    &:before {
      background-position: -1px -20px;
      visibility: visible;
    }
  } */
  /* Labels */
  /* Select tag */
  /* Select span */
  /* Campos de texto */ }
  form.formication input[type=checkbox], form.formication input[type=radio] {
    padding-top: 1px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    /* &:before {
      content: ' ';
      display: inline-block;
      width: 19px;
      height: 20px;
      margin-top: 3px;
      background: url('formikation-sprite.png') no-repeat -1px 0;
      visibility: visible;
    } */ }
  form.formication label {
    display: inline-block;
    padding-right: 16px;
    cursor: pointer; }
    form.formication label.fk-radio:before, form.formication label.fk-check:before {
      content: '';
      display: inline-block;
      float: left;
      width: 19px;
      height: 20px;
      margin: -1px 4px 0 0;
      background: url("formikation-sprite.png") no-repeat 0 0; }
    form.formication label.fk-radio:before {
      background-position: 0 -20px; }
    form.formication label.checked.fk-radio:before {
      background-position: -21px -20px; }
    form.formication label.checked.fk-check:before {
      background-position: -21px 0; }
    form.formication label input[type=radio]:before {
      background-position: -21px -20px; }
  form.formication select {
    min-width: 250px; }
  form.formication .select {
    min-width: 250px;
    padding: 8px 15px 4px 4px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px; }
    form.formication .select:after {
      content: url("filter-arrow.png");
      display: block;
      float: right;
      padding: 8px 12px;
      margin: -8px -15px;
      border-left: 1px solid #CCC; }
    form.formication .select .select-label {
      display: inline-block;
      margin: 0;
      padding: 0 30px 0 0;
      color: #666;
      max-width: 430px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    form.formication .select.selectFocus {
      border-color: #000; }
      form.formication .select.selectFocus:after {
        border-color: #000; }
      form.formication .select.selectFocus .select-label {
        color: #000; }
    .field_with_errors form.formication .select {
      border-color: red; }
      .field_with_errors form.formication .select:after {
        border-color: red; }
      .field_with_errors form.formication .select .file-label {
        color: red; }
  form.formication input[type=text],
  form.formication input[type=password],
  form.formication textarea {
    width: 100%;
    padding: 8px 4px;
    background: #fff;
    border: 1px solid #ccc;
    outline: 0;
    font-size: 14px;
    border-radius: 3px;
    color: #333;
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2); }
    form.formication input[type=text]:focus,
    form.formication input[type=password]:focus,
    form.formication textarea:focus {
      border-color: #000; }

/*
  ====================================
  Themes & variants
  =====================================
*/
form.formication.ue-theme {
  font: 400 14px/1.25 'Oswald', Arial, Helvetica, sans-serif;
  text-align: left;
  /* Label */
  /* Select tag */
  /* Checks y radios */
  /* Campos de texto */
  /* Botón de enviar */ }
  form.formication.ue-theme .row {
    padding-bottom: 16px; }
  form.formication.ue-theme form {
    padding: 16px; }
  form.formication.ue-theme fieldset {
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 0;
    padding: 20px; }
  form.formication.ue-theme label {
    padding-bottom: 8px;
    text-transform: uppercase; }
  form.formication.ue-theme .select {
    min-width: 250px;
    padding: 8px 15px 7px 4px;
    border: 1px solid #ccc;
    border-radius: 0; }
    form.formication.ue-theme .select:after {
      content: url("filter-arrow-double.png");
      display: block;
      float: right;
      padding: 8px 6px 7px 6px;
      margin: -7px -15px;
      border-left: 0; }
    form.formication.ue-theme .select .select-label {
      display: inline-block;
      margin: 0;
      padding: 0 30px 0 0;
      color: #666;
      max-width: 430px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    form.formication.ue-theme .select.selectFocus {
      border-color: #000; }
      form.formication.ue-theme .select.selectFocus:after {
        border-color: #000; }
      form.formication.ue-theme .select.selectFocus .select-label {
        color: #000; }
    .field_with_errors form.formication.ue-theme .select {
      border-color: red; }
      .field_with_errors form.formication.ue-theme .select:after {
        border-color: red; }
      .field_with_errors form.formication.ue-theme .select .file-label {
        color: red; }
  form.formication.ue-theme input[type=checkbox]:before, form.formication.ue-theme input[type=radio]:before {
    background: url("formikation-sprite-ue-theme.png") no-repeat -1px 0; }
  form.formication.ue-theme input[type=text],
  form.formication.ue-theme input[type=password],
  form.formication.ue-theme textarea {
    width: 100%;
    padding: 8px 4px;
    background: #fff;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    form.formication.ue-theme input[type=text]:focus,
    form.formication.ue-theme input[type=password]:focus,
    form.formication.ue-theme textarea:focus {
      border-color: #000; }
  form.formication.ue-theme input[type=submit] {
    min-width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 0.95em 10px 1.05em 10px;
    margin-right: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font: 400 14px/1.25 'Oswald', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #8f1b27;
    border-radius: 3px; }
