<header class="site-header">
  <div class="wrapper">
    <a class="logo" href="{{ site.baseurl }}/">
      Formikation
    </a>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/"{% if page.slug == "home" %} class="active"{% endif %}>Get Started</a>
      <a href="{{ "/examples.html" | prepend: site.baseurl }}"{% if page.slug == "examples" %} class="active"{% endif %}>Examples</a>
      <a href="https://github.com/vortizhe/formikation" class="github">View on Github</a>
    </nav>
  </div>
</header>
