.site-footer {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $col_border;
  .copy {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: $col_text;
    a {
      border-bottom: 0;
    }
  }
}
