html {
  background: #fff;
}

body {
  background: $col_bg;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.page-wrapper {
  padding-top: 65px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  margin-bottom: 1em;
}

form {
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
}

.example-block {
  float: left;
  width: 50%;
  padding-right: 20px;
}

@include media($mobile) {
  .wrapper {
    padding: 0 15px;
  }
  .example-block {
    float: none;
    width: 100%;
    padding: 0;
  }
}
