html {
  background: #fff;
}

body {
  background: $col_bg;
}

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.page-wrapper {
  padding-top: 65px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.row {
  margin-bottom: 1em;
}

@include media($mobile) {
  .wrapper {
    padding: 0 15px;
  }
}
