html {
  background: #fff;
}

body {
  background: $bg;
}

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.page-content {
  padding-top: 120px;
}

.wrapper {
  width: 94%;
  max-width: 1200px;
  min-width: 768px;
  padding: 35px 0;
  margin: 0 auto;
}
