// Colors
$col_text: #454343;
$col_dark_text: #1E1D1D;
$col_bg: #F5F5F5;
$col_link: #337AB7;
$col_border: #E7E7EC;

// Breakpoint
$small-desktop: 1200px;
$tablet: 1024px;
$mobile: 767px;

// Fonts
$sans: 'Roboto', Arial, sans-serif;
$mono: 'PragmataPro', 'PT Mono', 'Inconsolata', monospace;
