//
// Themes
//

$border_radius: 0px;

$btn_color: #8f1b27;

$brd_color: #ccc;

form.formikation.theme-ue {

  font: 400 14px/1.25 'Oswald', Arial, Helvetica, sans-serif;
  text-align: left;

  fieldset {
    border: 1px solid $brd_color;
    background: #f8f8f8;
  }

  a.btn,
  button.btn,
  input[type=submit].btn {
    padding: 0.95em 20px 1.05em 20px;
    background-color: $btn_color;
    border-radius: $border_radius;

    text-transform: uppercase;
    color: #fff;
  }

  label {
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  .fk-select {
    width: 100%; // Full width
    padding: 8px 15px 7px 4px;
    border: 1px solid $brd_color;
    border-radius: $border_radius;

    &:after {
      content: url('../img/formikation-select-arrow-double.png');
      padding: 8px 6px 7px 6px ;
      margin: -7px -15px;
      border-left: 0;
    }
  }

  input[type=text],
  input[type=password],
  textarea {
    border-radius: $border_radius;
  }

  .fk-file-input {
    border-radius: $border_radius;
    // Select file button
    &:after {
      background-color: $btn_color;
      border-radius: $border_radius;
    }
  }

}
