.formikation {
  label {
    display: block;
  }

  //
  // Checks and radios
  //
  input[type=checkbox],
  input[type=radio] {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: -9999px;
  }
  .fk-radio,
  .fk-check {
    display: block;
    position: relative;
    display: inline-block;
    margin: 0;
    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
    }
    &.checked {
      &:after,
      &:after {
        // IE8 does not render the changes in a :pseudo-element with we don't change the 'content', thus we change it from ' ' to ''
        content: ' ';
      }
    }
    &.disabled {
      opacity: 0.6;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    }
  }
  .fk-radio {
    &:before,
    &:after {
      border-radius: 50%;
    }
  }



  //
  // Select
  //
  .fk-select {
    display: block;
    width: 100%;
    .fk-select-label {
      display: inline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }



  //
  // File input
  //
  .fk-file-input {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    outline: 0;
    &:after {
      content: attr(data-text);
      display: block;
      position: absolute;
      right: 0;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
    > p {
      margin: 0;
      padding: 0;
    }
    input[type=file] {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      // IE8
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      z-index: 3;
      cursor: pointer;
    }
  }
}
